* {
	margin: 0;
	font-family: 'Segoe UI';
	font-size: 50px;
	font-weight: 300;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	padding: 3vw;
}
button:hover {
	filter: brightness(0.8);
}
section {
	margin: 0;
	background-color: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}
div {
	width: 4.5vh;
	height: 4.5vh;
	border-radius: 50%;
	background: url(account.png);
	background-size: cover;
	transition: transform .5s;
}
div:hover {
	transform: scale(1.05);
}
p {
	font-size: 14px;
	margin: auto 0;
}
#logo {
	position: absolute;
	width: 7vw;
	margin-left: -1.5vw;
	margin-top: -2vw;
}
header {
	position: fixed;
	right: 3vw;
	width: 30%;
	height: 10%;
	top: 0;
}
header section {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 30%;
	box-shadow: none;
}
header button {
	font-size: 12px;
	border-radius: 8px;
	border: none;
	width: 40%;
	height: 100%;
	color: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	outline: none;
	font-weight: 400;
}
#profile-name {
	filter: none;
	text-align: left;
	padding: 0 5%;
	width: 40%;
	color: #000;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	background-color: #fff;
}
#profile-img {
	height: 7vh;
	width: 7vh;
	position: absolute;
	right: 0;
	top: -1.25vh;
	border: #fff solid 3px;
}
#aside-timetable {
	width: 4vw;
	height: 80vh;
	margin-top: 10vh;
}
#aside-timetable div {
	margin:  2vh auto;
}
#timetable {
	width: 22vw;
	height: 85vh;
	margin-top: 5vh;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 0;
	box-shadow: none;
	overflow-y: scroll;
}
#timetable::-webkit-scrollbar {
	background-color: #fff;
	width: 8px;
	border-radius: 4px;
}
#timetable::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #3EC0F3, #6699FF);
	border-radius: 4px;
}
#next-client {
	width: 100%;
	height: 30%;
	margin-bottom: 4%;
	position: relative;
}
#next-client-info {
	width: 100%;
	height: 50%;
	display: flex;
	box-shadow: none;
}
#controll-menu {
	width: 50%;
	position: absolute;
	bottom: 0;
	box-shadow: none;
	margin: 0 0 2% 5%;
	height: 55%;
}
#controll-menu button {
	font-size: 12px;
	border-radius: 8px;
	border: none;
	width: 100%;
	height: 28%;
	margin: 2% 0;
	color: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.timetable-client {
	width: 100%;
	height: 15%;
	margin-top: 4%;
	display: flex;
	transition: transform .5s;
}
.timetable-client:hover {
	transform: scale(0.96);
}
.timetable-client div, #next-client-info div {
	margin: auto 5%;
	width: 6vh;
	height: 6vh;
}
#info {
	width: 66vw;
	height: 85vh;
	margin-top: 5vh;
	background: url('mc.jpg');
	background-size: cover;
}