* {
	margin: 0;
	font-family: 'Segoe UI';
	font-size: 36px;
	font-weight: 400;
}
.shadow {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}
body {
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
	transition: background-color 1s;
}
#add-referral-btn {
	width: 20%;
	margin: 6px 0;
	border-radius: 40px;
	border: none;
	background-color: #fff;
	outline: none;
}

/*Шапка*/
header {
	position: fixed;
	top: 0;
	width: 84%;
	height: 6%;
	margin: 0 3%;
	display: flex;
	justify-content: space-between;
	background-color: #2D2D2D;
	border-radius: 0 0 40px 40px;
	padding: 0 5%;
	z-index: 1;
	transition: filter 1s;
}

/*Направления*/
main {
	position: absolute;
	top: 140px;
	width: 96%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 0 2% 240px;
	transition: filter 1s;
}

/*Направление*/
.referral {
	width: 440px;
	height: 620px;
	margin: 25px auto;
	background: url('referral background.svg');
	background-size: cover;
	text-shadow: 0 0 20px 20px rgba(0, 0, 0, 1);
	position: relative;
}
.referral img {
	width: 200px;
	height: 132px;
	position: absolute;
	bottom: 156px;
	right: 120px;
}
h2 {
	font-size: 42px;
}
.referral-header {
	position: absolute;
	top: 180px;
	left: 40px;
}
.time {
	position: absolute;
	top: 180px;
	right: 150px;
	background: linear-gradient(to bottom, #3EC0F3, #6699FF);
	border-radius: 20px;
	padding: 5px;
	font-size: 36px;
	color: #fff;
}
.date {
	position: absolute;
	top: 180px;
	right: 40px;
}
.specialist {
	position: absolute;
	bottom: 72px;
	width: 100%;
	text-align: center;
}

/*Меню подробнее*/
#more-detailed-menu{
	position: fixed;
	bottom: -100%;
	transition: bottom 1s;
	height: auto;
	width: 90%;
	background-color: #fff;
	border-radius: 80px 80px 0 0;
	box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.2);
	padding: 100px 5% 50px 5%;
}
.decorate {
	background-color: #fff;
	width: 200px;
	height: 10px;
	border-radius: 20px;
	margin-top: -5%;
}
#info {
	margin-top: 25px;
}
#info div {
	display: flex;
	justify-content: space-between;
}
h1, p {
	font-size: 64px;
	font-weight: 300;
}
#status {
	text-align: center;
}
#status h1 {
	font-size: 100px;
	margin: 50px 0;
}
#more-detailed-menu button {
	width: 100%;
	height: 110px;
	border-radius: 30px;
	border: none;
	outline: none;
	color: #fff;
	font-size: 56px;
	font-weight: 300;
	margin: 15px 0;
}
#late {
	background: linear-gradient(to right, #3EC0F3, #6699FF);
}
#cancel1, #cancel2 {
	background: linear-gradient(to right, #F43271, #F89571);
}

/*Запись на прием*/
#add-session-form {
	position: fixed;
	bottom: -100%;
	transition: bottom 1s;
	height: auto;
	width: 90%;
	background-color: #fff;
	border-radius: 80px 80px 0 0;
	box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
	padding: 100px 5% 50px 5%;
}
#add-session-form form {
	width: 96%;
	height: auto;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	margin: 20px 0;
	border-radius: 40px;
	padding: 2%;
}
#add-session-btn, #confirm-session-btn {
	width: 100%;
	height: 120px;
	border: none;
	outline: none;
	border-radius: 30px;
	background-color: #fff;
}
#confirm-session-btn {
	display: none;
}
#add-session-form form input {
	height: 100px;
	border-radius: 30px;
	border: none;
	width: 100%;
	background: linear-gradient(to right, #3EC0F3, #6699FF);
	margin-top: 30px;
	outline: none;
	padding: 0 5%;
	color: #fff;
}

#add-session-form form input::placeholder {color: #fff;}

.dropdown-input {
  font-size: 36px;
  color: #fff;
  border: none;
  outline: none;
  width: 100%;
}

.dropdown-input:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/*Предложение вариантов времени*/
#time-container {
	overflow-y: scroll;
	width: 100%;
	height: 60vh;
	margin: 40px 0;
}

#time-container div {
	width: 100%;
}
#time-container table {
	width: 98%;
	margin: 1%;
	display: none;
	border-spacing: 10px 10px;
}
#time-container table tr {
	padding: 20px 0;
}
#time-container table td {
	background-color: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	height: 90px;
	border-radius: 20px;
	text-align: center;
}
.variant-specialist-name {
	width: 57%;
}
.variant-date {
	width: 15%;
}
.variant-time {
	width: 15%;
}
.variant-confirm {
	width: 10%;
	box-shadow: none;
}
.variant, #time-container button {
	position: relative;
	width: 98%;
	height: 90px;
	margin: 1%;
	border-radius: 20px;
	border: none;
	outline: none;
	color: #000;
	font-size: 48px;
	background-color: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}
#time-container button img {
	position: absolute;
	top: 0;
	height: 90px;
}
.left-arrow {
	position: absolute;
	left: 0;
	transform: rotate(90deg);
}
.right-arrow {
	position: absolute;
	right: 0;
}
.left-double-arrow {
	position: absolute;
	left: 0;
	transform: rotate(180deg);
}
.right-double-arrow {
	position: absolute;
	right: 0;
}

/*Навигационный бар*/
#nav-container {
	width: 100%;
	height: 240px;
	position: fixed;
	bottom: 0;
}
nav {
	width: 80%;
	height: 160px;
	margin: 40px 10%;
	background-color: #2D2D2D;
	border-radius: 40px;
	display: flex;
	justify-content: space-around;
}
nav button {
	background-color: #2D2D2D;
	border: none;
	height: 160px;
	width: 180px;
	outline: none;
	border-radius: 40px;
}
nav button:hover {
	filter: brightness(0.9);
}
nav img {
	height: 80px;
	width: 80px;
	margin: 40px;
}