* {
	margin: 0;
	font-family: 'Segoe UI';
	font-size: 50px;
	font-weight: 300;
}
.shadow {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
}
body {
	width: 100%;
	height: 100%;
}
#background {
	position: fixed;
	bottom: 5%;
	right: -5%;
	height: 35%;
	z-index: -1;
}
#logo {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
}
#log-in-form {
	width: 100%;
	height: auto;
}
form {
	width: all;
	height: 300px;
	margin: 0 20px;
}
input {
	border: none;
	border-radius: 40px;
	width: 100%;
	height: 140px;
	margin-bottom: 16px;
	background: linear-gradient(to bottom right, #3EC0F3, #6699FF);
	color: #fff;
	outline: none;
	padding: 0 60px;
}
input::placeholder {
	color: #fff;
}
button {
	border: none;
	border-radius: 40px;
	width: 100%;
	height: 140px;
	background-color: #fff;
	outline: none;
}