{% load static %}
<DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=0.4, user-scalable=no">
	<link rel="stylesheet" href="{% static 'user/style.css' %}" type="text/css"/>
	<title>Главная</title>
	<style>
		::-webkit-calendar-picker-indicator {
		  background: url("{% static 'user/icons/calendar.svg' %}");
		}
	</style>
</head>
<body>
	<main>
	{% for appointment in appointments %}
		<div class='referral' style="background: url({% static 'user/icons/referralbackground.svg' %}); background-size: cover;" onclick='more_info(this)'>
			<h2 class='referral-header'>Запись</h2>
			<h2 class='time'>{{ appointment.appointment_start|time:"H:i" }}</h2>
			<h2 class='date'>{{ appointment.appointment_date|date:"j.m" }}</h2>
			{% if appointment.doctor.profession == "Офтальмолог" %}
				<img src="{% static 'user/doctors/ophtolmologist.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Оттолоринголог" %}
				<img src="{% static 'user/doctors/ent.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Стоматолог" %}
				<img src="{% static 'user/doctors/dentist.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Хирург" %}
				<img src="{% static 'user/doctors/surgeon.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Кардиолог" %}
				<img src="{% static 'user/doctors/cardiogram.svg' %}"/>
			{% endif %}
			<h2 class='specialist'>{{ appointment.doctor.profession }}</h2>
		</div>
	{% endfor %}
	</main>
	<div id='nav-container'>
		<nav class='shadow'>
			<button><img src="{% static 'user/icons/home-btn.svg' %}"/></button>
			<button onclick="open_add_form();"><img src="{% static 'user/icons/add-btn.svg' %}"/></button>
			<button><img src="{% static 'user/icons/bookmark.svg' %}"/></button>
			<button><img src="{% static 'user/icons/profile-btn.svg' %}"/></button>
		</nav>
	<section id='more-detailed-menu'>
		<div style='display: flex; justify-content: center; margin-top: -75px' onclick="close_add_form()"><div class='decorate'></div></div>
		<section id='info'>
			<div id='time & date'>
				<h1>Запись</h1>
				<p id='time&date'>16:15    08.11</p>
			</div>
			<div id='addres'>
				<h1>Адрес</h1>
				<p>Буторина 10</p>
			</div>
			<div id='specialist'>
				<h1>Специалист</h1>
				<p id='specialist-name'>Хирург</p>
			</div>
			<div id='cabinet'>
				<h1>Кабинет</h1>
				<p>301</p>
			</div>
		</section>
		<section id='status'>
			<h1>Статус</h1>

		</section>
		<button id='late'>Опаздываю</button>
		<button id='cancel'>Отменить запись</button></section>
	<section id='add-session-form'>
		<div style='display: flex; justify-content: center; margin-top: -75px' onclick="close_add_form()"><div class='decorate'></div></div>
		<div style='overflow-y: scroll;'>
		<form id='specialist-form'>
			<h1>Выберите специалиста</h1>
			<div class="dropdown" style='width: 100%'>
			  <input placeholder="Поиск" id="myInput" onkeyup="filterFunction()">
			  <div id="myDropdown" class="dropdown-content">
			    <a onclick="search_fill(this)">Офтальмолог</a>
			    <a onclick="search_fill(this)">Хирург</a>
			    <a onclick="search_fill(this)">Психиатр</a>
			    <a onclick="search_fill(this)">Оттолоринголог</a>
			    <a onclick="search_fill(this)">Стоматолог</a>
			    <a onclick="search_fill(this)">Невролог</a>
			    <a onclick="search_fill(this)">Педиатр</a>
			    <a onclick="search_fill(this)">Кардиолог</a>
			  </div>
			</div>
		</form>
		<form id='date-form'>
			<h1>Выберите дату</h1>
			<input type='date' id='session-date' style='color: #fff'/>
		</form>
		<form id='time-form'>
			<h1>Введите желаемое время</h1>
			<input placeholder="8:00"/>
		</form>
		<h1 style='text-align: center;'>Ваше время занято</h1>
		<h1 style='text-align: center;'>Выберите время приема</h1>
		<div id='time-container'>
		</div>
		<button id='add-session-btn' class='shadow' onclick=""><h1>Записаться</button>
	</section>
	<script type="text/javascript" src="{% static 'user/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'user/script.js' %}"></script>
	<script>
		$("#add-session-btn").click(function() {
			$.ajax({
				type: "POST",
				url: "/main/appointment_check/" + "{{ id }}",
				data: {
					specialist: $("#myInput").val(),
					date: $("#session-date").val(),
					time: $("#time-input").val(),
					appeal: 'Заболел',
					csrfmiddlewaretoken: "{{ csrf_token }}"
				},
				cache: false,
				success: function(response){
					for(let i =0; i < response.length; i++){
						let button = document.createElement('button');
						button.className = 'time-variant';
						button.name = response[i]['doctor'];
						button.innerHTML = `${response[i]["time"]} (${response[i]["date"]})`;
						button.onclick = function(){
							selection_time(button);
						}
					}
				}
			})
			return false;
		})
	</script>
</body>
</html>