{% load static %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=0.4, user-scalable=no">
	<link rel="stylesheet" href="{% static 'user/style.css' %}" type="text/css"/>
	<title>Главная</title>
</head>
<body>
	<header>
		<img src="{% static 'user/icons/logo.svg' %}" style='height: 100%'/>
		<div style='display: flex; width: 23%; justify-content: space-between;'>
			<img src="{% static 'user/icons/notification.svg' %}" style='max-height: 100%; width: 80px'/>
			<img src="{% static 'user/icons/settings.svg' %}" style='max-height: 100%; width: 80px'/>
		</div>
	</header>
	<main>
	{% for appointment in appointments %}
		<div class='referral' style="background: url({% static 'user/icons/referralbackground.svg' %}); background-size: cover;" onclick='more_info(this, "{{ id }}", "{{ csrf_token }}")' name="{{ appointment.pk }}">
			<h2 class='referral-header'>Запись</h2>
			<h2 class='time'>{{ appointment.appointment_start|time:"H:i" }}</h2>
			<h2 class='date'>{{ appointment.appointment_date|date:"j.m" }}</h2>
			{% if appointment.doctor.profession == "Офтальмолог" %}
				<img src="{% static 'user/doctors/ophtolmologist.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Оттолоринголог" %}
				<img src="{% static 'user/doctors/ent.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Стоматолог" %}
				<img src="{% static 'user/doctors/dentist.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Хирург" %}
				<img src="{% static 'user/doctors/surgeon.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Кардиолог" %}
				<img src="{% static 'user/doctors/cardiogram.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Психиатр" %}
				<img src="{% static 'user/doctors/psychiatrist.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Невролог" %}
				<img src="{% static 'user/doctors/neurologist.svg' %}"/>
			{% endif %}
			{% if appointment.doctor.profession == "Педиатр" %}
				<img src="{% static 'user/doctors/pediatrician.svg' %}"/>
			{% endif %}
			<h2 class='specialist'>{{ appointment.doctor.profession }}</h2>
		</div>
	{% endfor %}
	</main>
	<div id='nav-container'>
		<nav class='shadow'>
			<button onclick="location.href = 'logout/{{ id }}'"><img src="{% static 'user/icons/home-btn.svg' %}"/></button>
			<button onclick="open_add_form()"><img src="{% static 'user/icons/add-btn.svg' %}"/></button>
			<button><img src="{% static 'user/icons/bookmark.svg' %}"/></button>
			<button><img src="{% static 'user/icons/profile-btn.svg' %}"/></button>
		</nav>
	</div>
	<section id='more-detailed-menu' class='disactive'>
		<div style='display: flex; justify-content: center; margin-top: -75px' onclick="close_form()"><div class='decorate'></div></div>
		<section id='info'>
			<div id='time & date'><h1>Запись</h1><p id='time&date'></p></div>
			<div id='addres'><h1>Адрес</h1><p>Буторина 10</p></div>
			<div id='specialist'><h1>Специалист</h1><p id='specialist-name'></p></div>
			<div id='cabinet'><h1>Кабинет</h1><p>301</p></div>
		</section>
		<section id='status'>
			<h1>Статус</h1>
		</section>
		<button id='late'>Опаздываю</button>
		<button id='cancel1' onclick='cancel_session(this)'>Отменить запись</button>
		<button id='cancel2' style='display: none'>Подтвердить удаление</button>
	</section>
	<section id='add-session-form' class='disactive'>
		<div style='display: flex; justify-content: center; margin-top: -75px' onclick="close_form();">
			<div class='decorate'></div>
		</div>
		<div id='add-session-form1'>
			<div style='overflow-y: scroll; height: 50vh'>
				<form id='specialist-form' class='dropdown-form'>
					<h1>Выберите специалиста</h1>
					<div class="dropdown" style='width: 100%'>
					  <input placeholder="Поиск" onkeyup="filterFunction(this)" id="doctor" autocomplete="off"/>
					  <div class="dropdown-content">
					    <a onclick="search_fill(this)">Офтальмолог</a>
					    <a onclick="search_fill(this)">Хирург</a>
					    <a onclick="search_fill(this)">Психиатр</a>
					    <a onclick="search_fill(this)">Оттолоринголог</a>
					    <a onclick="search_fill(this)">Стоматолог</a>
					    <a onclick="search_fill(this)">Невролог</a>
					    <a onclick="search_fill(this)">Педиатр</a>
					    <a onclick="search_fill(this)">Кардиолог</a>
					  </div>
					</div>
				</form>
				<form id='reason-form'>
					<h1>Выберите причину посещения</h1>
					<div class="dropdown" style='width: 100%'>
					  <input placeholder="Поиск" class='dropdown-input' id="appeal" onkeyup="filterFunction(this)" autocomplete="off" />
					  <div class="dropdown-content">
					    <a onclick="search_fill(this)">Заболел</a>
					    <a onclick="search_fill(this)">Прием</a>
					    <a onclick="search_fill(this)">Выписка</a>
					  </div>
					</div>
				</form>
			</div>
		</div>
		<div id='add-session-form2' style='display: none'>
			<h1 style='text-align: center'>Запись на прием</h1>
			<h1 style='text-align: center'>Выберите время приема</h1>
			<div id='time-container'>
				<!-- Выбор даты -->
				<button id="slide-btn">
					<img src="{% static 'user/icons/double-arrow.svg' %}" class='left-double-arrow' onclick="previous_date('{{ id }}', '{{ csrf_token }}')"/>
					<p id='date-slider' style='font-size: 48px; font-weight: 600'><p>
					<img src="{% static 'user/icons/double-arrow.svg' %}" class='right-double-arrow' onclick="next_date('{{ id }}', '{{ csrf_token }}')"/>
				</button>
				<div id="variants">
					<!-- Варианты -->
				</div>
			</div>
		</div>
		<button id='add-session-btn' class='shadow' onclick="getVariants('{{ id }}', '{{ csrf_token }}'); form_show()">
			<h1>Записаться</h1>
		</button>
		<button id='confirm-session-btn' class='shadow' onclick="form_back()"><h1>Назад</button>
	</section>
	<script type="text/javascript" src="{% static 'user/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'user/script.js' %}"></script>
	<script>
		let confirm = "{% static 'user/icons/confirm.svg' %}"
		let arrow = "{% static 'user/icons/arrow.svg' %}"
	</script>
</body>